.question-li {
    margin: 27px;
    padding: 5px;
    background-color: rgba(227, 230, 243, 0.5);
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 0px;
  }
  
  .question-li:hover {
    cursor: pointer;
    background-color: rgb(220, 230, 230);
  }
  